<div style="overflow: hidden;">
    <p>¿Enviar pedido con productos de la lista?</p>
    <div style="border-top: 1px dashed #666;">
        <p style="width: calc(100% - 50px); float: left; line-height: 24px">No volver a preguntar</p>
        <label class="toggle toggle-positive" style="float: right; margin-top: 0.5px;">
            <input ng-model="knowsOrderUp" type="checkbox" ng-click="learnOrderUp();">
            <div class="track" style="width: 35px; height: 15px;">
                <div class="handle" style="width: 10px; height: 10px;"></div>
            </div>
        </label>
    </div>
</div>