<ion-view view-title="Contactanos">
    <ion-content class="padding background-gray">
        <form ng-submit="sendMessage(data)">
            <ion-list class="list card">
                <div class="label-padding">
                    <span class="form-alert" ng-show="fillName">Por favor ingrese su nombre</span>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre</span>
                        <input ng-click="fillName = false" type="text" placeholder="Nombre" ng-model="data.name">
                    </label>
                </div>
                <div class="label-padding">
                    <span class="form-alert" ng-show="fillEmail">Por favor ingrese un email</span>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Mail</span>
                        <input ng-click="fillEmail = false" type="email" placeholder="Mail" ng-model="data.mail">
                    </label>
                    <ion-item class="item item-checkbox item-checkbox-right">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="subscribes" ng-change="subscribeChange();"/>
                        </label>
                        Quiero recibir novedades
                    </ion-item>
                </div>
                <div class="label-padding">
                    <span class="form-alert" ng-show="fillMessage">Por favor ingrese un mensaje</span>
                    <label class="item item-input item-floating-label" style="height: 160px;">
                        <span class="input-label">Mensaje</span>
                        <textarea ng-click="fillMessage = false" type="text" placeholder="Mensaje" ng-model="data.message" rows="6"></textarea>
                    </label>
                </div>
                <button class="button button-block button-positive" type="submit">Enviar</button>
            </ion-list>
        </form>
    </ion-content>
</ion-view>