<ion-view view-title="Central de Ofertas">
<!--    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" placeholder="">
        </label>
    </ion-header-bar>-->
    <ion-content class="padding background-gray">
        <div class="card">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="" ng-change="searchSales(searchText)" ng-model="searchText">
            </label>
        </div>
        <div ng-include="'templates/sales-list.html'">

        </div>
    </ion-content>
</ion-view>
