<ion-list can-swipe="true" ng-controller="SalesListCtrl">
    <!--ng-show="([product] | filter:searchText).length > 0"-->
    <ion-item class="item item-icon-right" ng-repeat="product in products" ng-click="showPopup(product.id)">
        <ion-option-button ng-hide="product.favorite" class="button-balanced" ng-click="addFavorite(product.id)">
            recordar
        </ion-option-button>
        <i ng-show="product.favorite" class="icon ion-android-done"></i>
        <h2>{{product.title}}</h2>
        <p><strong>{{product.value}}</strong> - <em>{{getChain(product.chain_id)}}</em></p>
    </ion-item>
</ion-list>