<ion-list ng-controller="SalesListCtrl">
    <!--ng-show="([product] | filter:searchText).length > 0"-->
    <div class="salesItem" collection-repeat="product in products | orderBy: 'title'">
        <h2 class="item item-button-right">
            {{product.title}}
            <button class="button button-icon ion-bookmark" ng-click="addFavorite(product.id)" ng-class="{'is-favorite': product.favorite, 'isnot-favorite': !product.favorite}"></button>
        </h2>
        <ion-item class="item item-thumbnail-left" ng-click="showPopup(product.id)" style="padding-top: 16px;">
            <!--<i ng-show="product.favorite" class="icon ion-android-done tick-favorite" ></i>-->
            <img ng-src="http://centraldeofertas.com.ar/uploads/sales/{{product.filename| checkImgExtension}}" alt="img" onerror="this.onerror=null;this['src']='img/default_product.gif';" />
            <p>{{product.type}}</p>
            <p class="item-prize"><span class="place-badge style-assertive">{{product.chain}}</span><strong>{{product.value}}</strong></p>
        </ion-item>
    </div>
</ion-list>