<ion-list ng-controller="SalesListCtrl" class="search-container">
    <!--ng-show="([product] | filter:searchText).length > 0"-->
    <ion-item class="item item-smaller" ng-repeat="product in searchProducts | orderBy: 'title' | limitTo:20" ng-click="showPopup(product.id)">
    <!--<ion-item class="item item-icon-right item-smaller" ng-repeat="product in searchProducts | orderBy: 'title' | limitTo:20" ng-click="showPopup(product.id)">-->
<!--        <ion-option-button ng-hide="product.favorite" class="button-balanced" ng-click="addFavorite(product.id)">
            recordar
        </ion-option-button>-->
        <!--<i ng-show="product.favorite" class="icon ion-android-done tick-favorite" ></i>-->
        <h2>{{product.title}}</h2>
        <!--<p class="item-prize"><span class="place-badge style-assertive">{{product.chain}}</span><strong>{{product.value}}</strong></p>-->
    </ion-item>
</ion-list>