<ion-view view-title="Catalogo">
    <ion-content>
        <div ng-show="loading" class="spinner-center">
            <ion-spinner class="spinner-positive"></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="" ng-repeat="category in categories" href="#/app/tabs/categories/{{category.id}}">
                <h2>{{category.name}}</h2>
                <span class="badge badge-balanced" ng-bind="salesCount('category',{{category.id}})"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
