<ion-view view-title="Catalogo">
    <ion-content>
        <div ng-show="loading" class="spinner-center">
            <ion-spinner class="spinner-positive"></ion-spinner>
        </div>
        <ion-list>
            <ion-item ng-hide="chain.pCount == 0" ng-repeat="chain in chains | orderBy: '-pCount'" href="#/app/tabs/chains/{{chain.id}}">
                <h2>{{chain.name}}</h2>
                <span class="badge badge-balanced" ng-bind="chain.pCount"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>