<ion-tabs class="tabs-striped tabs-background-energized tabs-color-dark">
    <ion-tab title="Cadenas" href="#/app/tabs/chains">
        <ion-nav-view name="tab-chains"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Categorias" href="#/app/tabs/categories">
        <ion-nav-view name="tab-categories"></ion-nav-view>
    </ion-tab>
    <!-- icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" -->
    <ion-tab title="Marcas" href="#/app/tabs/brands">
        <ion-nav-view name="tab-brands"></ion-nav-view>
    </ion-tab>


</ion-tabs>
