/* Empty. Add your own CSS if you like */
.navigation-drawer {
    background-color: #444 !important;
}

.background-gray {
    background-color: #e4e4e4;
}

.header-shadow {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}